.logo {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto;  /* Mantén la proporción de aspecto */
    display: block; /* Para evitar problemas de espaciado */
    margin: 20px auto; /* Centra el logo horizontalmente */
  }